<h3>Our Members</h3>
<br><br>
<div class="row">
  <div *ngFor="let member of members | async">
    <div class="col-md-3 col-xs-6">
      <div class="thumbnail">
      <img src="../../assets/img/profile.jpg" alt="Profile Pic">
      <div class="caption">
        <h4>{{member.fullName}}</h4>
        <p>Phone Number: {{member.phoneNumber}}</p>
        <p><button class="btn btn-primary" (click)="viewMemberPage(member.$key)">View Profile</button></p>
      </div>
    </div>
    </div>
  </div>
</div>
